<footer class="site-footer">
  <small>
    <a href="https://twitter.com/nutlessmeg" target="_blank">Twitter</a> 
    <a href="https://mas.to/@nutlessmeg" target="_blank">Mastodon</a> 
    <a href="https://imaboringnerd.tumblr.com" target="_blank">Tumblr</a> 
    <a href="https://steampowered.com/id/TealShadows" target="_blank">Steam</a>
  </small>
</footer>
